body {
	background: #1a1a1a;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
@keyframes gradient{
	0% {background-position: 100%}
	10% {background-position: 80%}
	20% {background-position: 60%}
	30% {background-position: 40%}
	40% {background-position: 20%}
	50% {background-position: 0%}
	60% {background-position: 20%}
	70% {background-position: 40%}
	80% {background-position: 60%}
	60% {background-position: 80%}
	70% {background-position: 100%}
}
.book{
	width: 400px;
	height: 600px;
	left: 430px;
	top: 0px;
	position: absolute;
	z-index: -1;
	text-align: center;
	background: linear-gradient(#ff541b, #ff8723, #ffb830, #ffd75b, #fff1b7);
	animation: gradient 2s infinite;

}
.edition{
	padding-top: 0px;
	color: #F2EDD8;
	letter-spacing: .04em;
	font-size: 25px;
	font-family: 'Niramit', sans-serif;
	font-weight: bolder;
	text-shadow: -.5px -.5px 0 #DE3F29, .5px .5px 0 #DE3F29, -.5px .5px 0 #DE3F29, .5px -.5px 0 #DE3F29, -.5px -.5px 0 #DE3F29;
}
.box{
	padding-top: 5px;
	padding-bottom: 35px;
	z-index: 3;
}
.slider{
	position: absolute;
	/*left: 30px;*/
	left: 40px;
	top: 95px;
	z-index: 2;
	transition: 3s;
	opacity: 0;
}
.box:hover .slider{
	transition: 3s;
	opacity: 1;
	left: 30px;
	top: 92.5px;
	z-index: 2;
}
@keyframes fahrenheit{
	0% {color: #EFEFD9;}
	10% {color: #fff1b7;}
	20% {color: #ffd75b;}
	30% {color: #ffb830;}
	40% {color: #ff8723;}
	50% {color: #ff541b;}
	60% {color: #ff8723;}
	70% {color: #ffb830;}
	80% {color: #ffd75b;}
	90% {color: #fff1b7;}
	100% {color: #EFEFD9;}
}
.title{
	position: relative;
	bottom: 100px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 70px;
	transform: scale(.75, 1);
	color: #EFEFD9;
	text-shadow: 2px 2px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 3px 3px 0 black;
	animation: fahrenheit 4s infinite;
	animation-delay: 1s;
}
@keyframes striker{
	0% {background-color: #EFEFD8;}
	50% {background-color: #472F23;}
	100% {background-color: #EFEFD8;}
}
.white{
	width: 400px;
	height: 20px;
	bottom: 145px;
	z-index: -2;
	position: absolute;
	animation: striker 4s infinite;
}
.white_circle{
	width: 120px;
	height: 120px;
	border-radius: 100%;	
	z-index: -1;
	position: absolute;
	left: 140px;
	bottom: -50px;
	background-color: #EFEFD8;
}
.black_circle{
	width: 100px;
	height: 100px;
	border-radius: 100%;	
	background-color: black;
	color: red;
	margin: 10px 10px 10px 10px;
	z-index: 1;
	position: absolute;
}
@keyframes fire{
	0% {text-shadow: 2px 2px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 3px 3px 0 black;}
	50% {text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px         #F90, 0px -20px 40px #C33;}
	100% {text-shadow: 2px 2px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 3px 3px 0 black;}
}
.numbers{
	font-family: 'Oswald', sans-serif;
	transform: scale(.75, .95);
	font-size: 70px;
	bottom: 76px;
	right: 2px;
	position: relative;
	color: #DF3F27;
	text-decoration: none;
	animation: fire 2s infinite;
}
.black{
	width: 400px;
	height: 145px;
	background-color: black;
	z-index: -3;
	bottom: 0px;
	position: absolute;
}
.author{
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
	letter-spacing: .5em;
	color: #D94022;
	padding-top: 50px;
	font-weight: bolder;
}